# Ignore Python bytecode files
__pycache__/

# Ignore Python compiled files
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore IDE-specific files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore environment variable files
.env